.div1 {
	background:red;
}
.div2 {
	background:lime;
}
.div3 {
	background:yellow
}
.bomb1 {
	font-size:50px;
	margin:15px;
	padding:15px;
}
.bomb2 {
	font-size:50px;
	margin:15px;
	padding:15px;
}
.bomb3 {
	font-size:50px;
	margin:15px;
	padding:15px;
}

