.div1 {
	background:red;
}
.div2 {
	background:lime;
}
.div3 {
	background:yellow
}
.bomb1 {
	margin:20px;
	padding:20px;
}
.bomb2 {
	margin:20px;
	padding:20px;
}
.bomb3 {
	margin:20px;
	padding:20px;
}

